clouds:
  {{ cloud_name }}:
    auth:
      username: {{ os_username }}
      password: {{ os_password }}
      tenant_name: {{ os_tenant_name }}
      auth_url: {{ os_auth_url }}
    region_name: regionOne
    dns_api_version: 1

